* {
    box-sizing: border-box;
}
.container {
    display: grid;
    /*Se pone auto en la segunda columna para que se ajuste mejor al tamaño de la pantalla*/
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px);
    /*gap es igual que grid-gap*/
    gap: 1em;
    background-color: beige;
}
/*Con el * se puede llamar a todos los elementos hijos de container*/
.container * {
    /*Con el display: flex se hace que todos los elementos hijos de container tendan un display de tipo flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    border: 1px solid black;
    background-color: brown;
}
header, footer {
    grid-column: 1/4;
}
@media screen and (max-width: 600px) {
    aside, article {
        grid-column: 1 / span 3;
    }
    .container {
        grid-template-rows: repeat(5, 100px);
    }
}